/* Global Styles and Classes */

body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
}

header {
    font-size: 3.5rem;
}

/* Random Article */
#random {
    text-decoration: none;
    color: #009B77;
    font-size: 2.5rem;
}

#random:hover {
    color: purple;
}

/* Search Icon */
#search-icon {
    font-size: 2.1rem;
    color: darkblue;
    cursor: pointer;
    margin-top: 1.5rem;
}

#search-icon:hover {
    color: orangered;
}

/* Search Box */
.search-box {
    display: none;
}

/* Main Search Output */
.main-search-output {
    border: 1px solid black;
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    background-color: #aaa;
    color: white;
}

.main-search-output a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}