/* Global Styles and Classes */

body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
}

/* Random Article */
#random {
    text-decoration: none;
    color: #009B77;
    font-size: 2.5rem;
}

#random:hover {
    color: purple;
}

/* Search Icon */
#search-icon {
    font-size: 2.1rem;
    color: darkblue;
    position: relative;
    top: 2.2rem;
}

#search-icon:hover {
    color: orangered;
}