/* Global Styles and Classes */

body {
    font-family: "Roboto", Arial, Verdana, sans-serif;
}

/* Random Article */
#random {
    text-decoration: none;
    color: #009B77;
}

#random:hover {
    color: purple;
}

/* Search Icon */
#search-icon {
    font-size: 45px;
    top: 40px;
    color: darkblue;
}